.team-container {
   width: 100%;
   padding: 0.5%;
   /* border-style: solid; */
   border: 5%;
   /* border-color: black; */
   border-radius: 0%;
}

/* .team-box {
   width: 90%;
   padding-top: 0%;
   padding-bottom: 0%;
   position: relative;
   overflow: hidden;
} */

.team-name {
   width: 15%;
   font-size: 2vw;
   color: white;
   background-color: darkgray;
   padding-top: 1%;
   padding-bottom: 1%;
   /* border: 2px; */
   /* border-radius: 2.5%; */
}

.team-info {
   width: 85%;
   margin: 0;
   /* font-size: 2vw;
   color: orange; */
   /* background-color: darkgray; */
   /* border: 2px; */
   /* border-radius: 0% 0% 2.5% 2.5%; */
}


.school-box {
   width: 80%;

   /* padding-top: 30%;
      padding-bottom: 30%; */
   font-size: 1vw;
   padding-left: 0%;
   padding-right: 0%;

}

.school-text {
   width: 100%;
   text-align: center;
   padding-top: 4%;
   padding-bottom: 4%;

}


.wins-box {
   width: 20%;

   /* padding-top: 30%;
      padding-bottom: 30%; */
   font-size: 1vw;
   padding-left: 0%;
   padding-right: 0%;
   background-color: lightgray;
}

.wins-text {
   text-align: center;
   padding-top: 10%;
   padding-bottom: 10%;
   color: black;

}

.school-status {
   width: 33.333%;
}

.team-wins-box {
   width: 10%;

   /* padding-top: 30%;
      padding-bottom: 30%; */
   position: relative;
   font-size: 2vw;
   border-style: solid;
   border-color: lightgray;
   border-radius: 0% 10% 10% 0%;
   padding-left: 0%;
   padding-right: 0%;
   background-color: white;

}

.team-wins-text {
   text-align: center;
   padding-top: 10%;
   padding-bottom: 10%;
   color: black;

}

.rank-box {
   width: 5%;
   /* padding-top: 30%;
      padding-bottom: 30%; */
   position: relative;
   font-size: 2.5vw;
   /* border-style: solid; */
   /* border-color: lightgray; */
   border-radius: 10% 0% 0% 10%;
   padding-left: 0%;
   padding-right: 0%;
   /* background-color: white; */
}

.rank-text {
   text-align: center;
   /* padding-top: 10%;
   padding-bottom: 10%; */
   color: black;

}

/* .list-group{
    height: 10%;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
} */

/* .school-name {
   position: absolute;
   top: 0%;
   left: 0;
   bottom: 0;
   right: 0;
   font-size: 2vw;
   color: white;
   background-color: lightblue;
   border: 2px;
   border-radius: 10px 10px 10px 10px;
}

.school-info {
   position: absolute;
   top: 25%;
   left: 0;
   bottom: 0;
   right: 0;
   font-size: 2vw;
   color: orange;
   background-color: lightgray;
   border: 2px;
   border-radius: 0px 0px 10px 10px;
} */



@media only screen and (max-width: 600px) {

 .team-name {
    font-size: 3vw;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/* .school-status {
   width: 50%;
} */
   .team-info {
      width: 100%;
   }

 .school-text {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-bottom: 5%;
    font-size: 1.5vw;

}



   .school-text {
       /* padding-top: 20%;
       padding-bottom: 20%; */
       /* width: 60%; */
       font-size: 3vw;
   }
   .school-status {
      width: 50%;
   }

   .wins-text {
      font-size: 3vw;
   }

   .team-wins-box {
      padding-top: 8%;
      padding-bottom: 8%;
   }

   .team-wins-text {
      font-size: 5vw;
   }

}
