<div class="container" style="margin: auto; width: 90%; max-width: 100%;" (window:resize)="getWidth()">
   <div class="row text-center">
      <div *ngFor="let team of teams; index as i" style="width: 100%">
         <app-standing (click)="switchScoreView(i)" [inp]="[team, users[team.userid], rank[team._id], schoolsJSON, scores[i], games, width]"></app-standing>
      </div>
   </div>
</div>
<div class="container-fluid text-center" style="padding: 2%">
   <button *ngIf="this.currentUser._id == this.league.admin" (click)="manage(this.id)" class="btn btn-primary">Manage League</button>
</div>
