<div class="rounded" style="width: 90%; margin: 5%; padding: 2%; background-color: white">
   <h4>Create a League</h4>
   <form #leagueform="ngForm" (ngSubmit)="onSubmit(leagueform)" novalidate>
      <div class="form-group">
         <label class="labels">League Name</label>
         <input  [disabled]="example" type="text" required #leaguename="ngModel" [class.is-invalid]="leaguename.invalid && leaguename.touched" class="form-control" name="leaguename" [(ngModel)]=league.name>
         <small class="text-danger" [class.d-none]="leaguename.valid || leaguename.untouched">Field is required.</small>
         <small class="text-danger" [class.d-none]="!invalid">Invalid data entry. Name may already be in use</small>
      </div>

      <h4>Teams
         <div class="btn-group">
            <button [disabled]="example || n_teams <= 0" type="button" class="btn btn-danger" (click)="subtractTeam()"><strong>-</strong></button>
            <button [disabled]="example || n_teams > max_teams-2" type="button" class="btn btn-primary" (click)="addTeam()"><strong>+</strong></button>
         </div>
      </h4>
      <div class="form-group">
         <label class="labels">Admin</label>
         <input [disabled]="true" type="text" class="form-control" value={{currentUser.username}}>
         <!-- <small class="text-danger" [class.d-none]="team.valid || team.untouched">Field is required.</small> -->
      </div>
      <div ngModelGroup="teams">
         <div *ngFor="let team of teams; index as i">
            <div class="form-group">
               <label>Team {{i+1}}</label>
               <input type="text" ngModel required class="form-control" name="team{{i}}">
               <!-- <small class="text-danger" [class.d-none]="team.valid || team.untouched">Field is required.</small> -->
            </div>
         </div>
      </div>

      <button [disabled]="example || leagueform.form.invalid" class="btn btn-primary" type="submit">Create</button>
   </form>
</div>
