<div class="container text-center" style="margin: auto; padding: auto">
   <div *ngIf="!leagues.length && currentUser" class="empty text-center">
      <b>No Leagues</b>
   </div>
   <div *ngIf="!currentUser" class="empty text-center">
      <b>Login to View Leagues</b>
   </div>

   <div class="row">
      <div *ngFor="let league of leagues; index as i" class="league-container" (mouseenter)="onHover(i)" (mouseleave)="offHover(i)" ontouchstart="onHover(i)" ontouchend="offHover(i)" [class.hoverClass]=hovering[i]>
         <app-league-tile [inp]="[league._id, league.name, currentUser._id]" (click)="onSelect(league._id)" class="league-box">
         </app-league-tile>
      </div>
   </div>
</div>
