.league-container {
   width: 45%;
   margin: 2.5%;
   overflow: hidden;
   /* padding-top: 23%;
   padding-bottom: 23%; */
   position: relative;
   cursor: pointer;
   border-radius: 7%;
   -webkit-tap-highlight-color: white;
}
div.league-container:hover {
   border-style: solid;
   border-color: white;
}

.empty {
   padding-top: 30%;
   padding-bottom: 30%;
   font-size: 5vw;
   color: gray;
   -webkit-text-stroke-width: 0.1vw;
   -webkit-text-stroke-color: white;
}


/*
.league-box {
   width: 100%%;
   padding: 50%;
   position: relative;
}

.league-name {
   position: absolute;
   top: 0%;
   left: 0;
   bottom: 0;
   right: 0;
   font-size: 200%;
   color: white;
   background-color: black;
   border: 2px;
   border-radius: 10px 10px 10px 10px;
}

.league-info {
   position: absolute;
   top: 25%;
   left: 0;
   bottom: 0;
   right: 0;
   font-size: 200%;
   color: orange;
   background-color: lightgray;
   border: 2px;
   border-radius: 0px 0px 10px 10px;
} */

@media only screen and (max-width: 600px) {
  .league-container {
     width: 90%;
     margin: 5%;
 }
 .empty {
      font-size: 8vw;
      -webkit-text-stroke-width: 0.15vw;
      -webkit-text-stroke-color: white;
 }
 .league-container:hover {
    border-style: none;
    border-color: white;
}

}
