.league-container {
   width: 50%;
}

.league-box {
   width: 100%%;
   padding: 50%;
   position: relative; /* If you want text inside of it */
}

.league-name {
   position: absolute;
   top: 0%;
   left: 0;
   bottom: 0;
   right: 0;
   font-size: 200%;
   color: white;
   background-color: black;
   border: 2px;
   border-radius: 10px 10px 10px 10px;
}

.league-info {
   position: absolute;
   top: 25%;
   left: 0;
   bottom: 0;
   right: 0;
   font-size: 200%;
   color: orange;
   background-color: lightgray;
   border: 2px;
   border-radius: 0px 0px 10px 10px;
}

@media only screen and (max-width: 600px) {
  .league-container {
     width: 100%;
 }
}
