<!--The content below is only a placeholder and can be replaced.-->
<div class = "container-fluid">
  <h1 class="text-left" routerLink='/'>
     <strong>CFB Pick6</strong>
  </h1>
  <small *ngIf="currentUser"> {{currentUser.username}} is logged in </small>
  <div style="float: right">
     <div  class="btn-group text-right">
        <button *ngIf="currentUser" class="btn btn-danger" (click)="this._loginService.logout()" routerLink='/login'>Log Out</button>
        <button *ngIf="!currentUser" class="btn btn-primary" routerLink='/login'>Login</button>
        <button class="btn btn-primary" routerLink='/register'>Register</button>
    </div>
  </div>


<router-outlet></router-outlet>
