<div class="row" style="padding: 0; margin: 0">
   <div class="league-name">{{league_name}}</div>
   <div class="league-info">
      <div *ngFor="let school of schools" class="school-status" style="margin: auto; padding: 0">
         <div class="row" style="margin: auto; padding: 0;">
            <div class="school-box">
               <div class="school-text" [style.background-color]="schoolsJSON[school].primary_color" [style.color]="schoolsJSON[school].secondary_color">
                  <b>{{schoolsJSON[school].school}}</b>
               </div>
            </div>
            <div class="wins-box">
               <div class="wins-text" >
                  <b>{{schoolsJSON[school].wins}}</b>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
