.scores-container {
   width: 100%;
   margin: 0.5%;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
   background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.95);
}

.team-container:hover {
   border-style: solid;
   border-color: white;
}

.game-container {
   width: 16.66666%;
}

.time-game {
   width: 100%;
   padding-top: 0%;
   padding-bottom: 0%;
   margin: 0;
   color: white;
   background-color: black;
   font-size: 1.5vw;
}

.team-game {
   width: 50%;
   object-fit: contain;
   padding: 0;
   margin: 0;
   border-right-style: solid;
}

.team-game img {
   width: 95%;
   height: 95%;
   padding: 2.5%;
}

.score-game {
   width: 50%;
   margin: 0;
   padding: 0;
   font-size: 3vw;
   padding-top: 5%;
   padding-bottom: 5%;
   background-color: lightgray;

}

.team-container {
   width: 100%;
   margin: 0.5%;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;

}

.team-name {
   width: 15%;
   font-size: 2vw;
   color: white;
   background-color: darkgray;
   padding-top: 2%;
   padding-bottom: 2%;

}

.team-info {
   width: 85%;
   margin: 0;

   background-color: lightgray;

}


.school-box {
   width: 80%;

   font-size: 1.5vw;
   padding-left: 0%;
   padding-right: 0%;

}

.school-text {
   width: 100%;
   text-align: center;
   padding-top: 4%;
   padding-bottom: 4%;

}

.school-box-bye {
   width: 100%;
   font-size: 1.5vw;
   padding-left: 0%;
   padding-right: 0%;
   height: 80%;

}

.school-text-bye {
   width: 100%;
   text-align: center;
   padding-top: 38%;
   padding-bottom: 38%;
   height: 100%;
}


.wins-box {
   width: 20%;

   border-left-style: solid;

   font-size: 1.85vw;
   padding-left: 0%;
   padding-right: 0%;
   background-color: lightgray;
}

.wins-text {
   text-align: center;
   padding-top: 10%;
   padding-bottom: 10%;
   color: black;

}

.school-status {
   width: 33.333%;
}

.team-wins-box {
   width: 10%;


   position: relative;
   font-size: 2vw;
   border-style: solid;
   border-color: lightgray;

   padding-top: 1%;
   padding-bottom: 1%;
   background-color: white;

}

.team-wins-text {
   text-align: center;
   padding-top: 10%;
   padding-bottom: 10%;
   color: black;

}

.rank-box {
   width: 5%;
   padding-top: 1.5%;
   padding-bottom: 1.5%;
   position: relative;
   font-size: 2.5vw;
   border-style: solid;
   border-color: lightgray;
   background: lightgray;
   padding-left: 0%;
   padding-right: 0%;
}

.rank-text {
   text-align: center;
   color: black;

}



@media only screen and (max-width: 600px) {

 .team-container {
    border-radius: 5px;
 }
 .team-name {
    font-size: 3vw;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
 }


   .team-info {
      width: 100%;
   }

   .game-container {
      width: 33.333333%;
   }

 .school-text {
    padding-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 3vw;
}

.time-game {
   padding-top: 2.5%;
   padding-bottom: 2.5%;
   font-size: 2.5vw;
}

   .school-status {
      width: 50%;
   }

   .wins-text {
      font-size: 3vw;
   }

   .team-wins-box {
      padding-top: 9%;
      padding-bottom: 9%;
   }

   .team-wins-text {
      font-size: 5vw;
   }

   .score-game {
      font-size: 5vw;
   }

   .rank-box {
      padding-top: 12%;
      padding-bottom: 12%;
   }

   .team-container:hover {
      border-style: none;
   }

   .school-text-bye {
      font-size: 3vw;
   }

}
